
.hotel-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(33.33% - 20px); 
    padding: 20px;
    transition: transform 0.2s;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  
  
  .hotel-card:hover {
    transform: translateY(-5px);
  }
  
 
  .hotel-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  
  .location {
    color: #007bff;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .location i {
    margin-right: 5px;
  }
  

  h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  
  .property-details {
    display: flex;
    margin-top: 10px;
    color: #888;
  }
  
  .property-details div {
    margin-right: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .prev-button,
.load-more-button {
  text-align: center;
  margin-top: 20px;
}

.prev-button button,
.load-more-button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.prev-button button:hover,
.load-more-button button:hover {
  background-color: #0056b3;
}
 
  
  
  
  
  
  
  
  
  
  
  
  